{
  "root": true,
  "extends": "xo/esnext",
  "env": {
	"node": false,
	"browser": true
  },
  "plugins": [
	"html"
  ],
  "globals": {
	"Polymer": true
  },
  "rules": {
	"new-cap": [
	  2,
	  {
		"capIsNewExceptions": [
		  "Polymer"
		]
	  }
	]
  }
}
